html, body {
	background: #F9F9F9!important;
	font-family:"Oxygen", sans-serif!important;
    height: 100%;
}

.bottomrow {
	display: flex;
	align-items: center;
	text-align:center;
	height:50px;
}

.section_head {
	font-size:48px;
}

.contactrow {
	align-items: center;
	height:100%;
}

.contactcontent {
	text-align: center;
	width:100%;
}

.linkinfo {
	text-align:center;
	align-items:center;
	height:250px;
	width:100%;
	display:flex;
	vertical-align:middle;
}

.portinfo {
	text-align:center;
	align-items:center;
	height:300px;
	width:100%;
	display:flex;
	vertical-align:middle;
}


.contacttext {
	text-align:center;
	align-items:center;
	height:100%;
	width:100%;
	display:block;
}

#headerbox {
	width:100%;
	display:flex;
	margin:40px;
	margin-bottom:80px;
	text-align:left;
	justify-content: center;
}

#logohead {
	max-width: 1200px;
	width:100%;
	margin:0 auto;
	vertical-align:center;
}

#logobox {
	display:inline-block;
	align-items:center;
	height:100%;
	text-align:center;
	margin:0 auto;
}

#logoimg {
	padding-right:15px;
}

.logopiece {
	display:inline-block;
	text-align:left;
	padding:10px;
	margin:5px;
	overflow:hidden;
}

#logotxt {
	text-align:left!important;
}

#logoname {
	font-size:20px;
	color:#262626!important;
	text-align:left;
	vertical-align:middle;
}

.break {
	height:100px;
}

.divider {
	height:250px;
	width:100%;
	margin:0 auto;
	text-align:center;
	vertical-align:middle;
}

.dividerbig {
	height:300px;
	width:100%;
	margin:0 auto;
	text-align:center;
	vertical-align:middle;
}

.fullrow {
	display:flex;
	height:400px;
}

.aboutimg {
	display:flex;
}

#optionbox {
	text-align:center;
	justify-content: center;
}

.choice {
	text-align:center;
	vertical-align: center;
}
.choicebox {
	background-color:white;
	border-radius:25px; 
	text-align:center;
	vertical-align: center;
}

.abouttext {
	align-items:center;
	margin:auto;
	height:100%;
	width:100%;
	display:flex;
	vertical-align:middle;
	text-align:center;
}


.abtimg{
	height:100px;
	width:auto;
	float:left;
}

.bg_gradient_bg{
	background-image:url(../img/grad_bg.svg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.bg_gradient_ro{
	background-image:url(../img/grad_ro.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
}
.bg_gradient_yg{
	background-image:url(../img/grad_yg.svg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.bg_bars_green{
	background-image:url(../img/green_bars.svg);
	background-size: 100%;
	background-repeat:repeat;
}

.bg_bars_or{
	background-image:url(../img/or_bars.svg);
	background-size: 100%;
	background-repeat:repeat;
}

#projectheader {
	width:100%;
	display:flex;
	margin:20px;
	text-align:left;
	justify-content: center;
}

.projectzone {
	max-width:900px;
	height:2500px;
	background-color:rgba(250, 250, 250, .9);
	border-radius:15px;
	border: 1px solid lightgray;