<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta & Page Info -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Sam Ehnis-Clark | Portfolio">
		<meta name="author" content="sehnis">
		<link rel="favicon" href="/static/img/favicon.ico">
		<title>{% block title %}{% endblock %} | Sam Ehnis-Clark</title>

		<!-- CSS & Non-Bootstrap JS -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link href="/static/css/samec.css" rel="stylesheet">
		<link href="/static/css/skeleton.css" rel="stylesheet">
		<script src="/static/js/modernizr-2.8.3.min.js"></script>

	</head>
	<body style="background-color:#eee;">

	{% block content %}{% endblock %}

	</body>
</html>