{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container" style="background-color:white;margin-top:0px;height:100%;">
	<div class="row">
		<div id="logo_head" style="text-align:center;">
			<img src="../static/img/logo.png" style="vertical-align:middle;"><span style="font-size:70px;vertical-align:middle;">&nbsp;&nbsp;SAM <b>EHNIS-CLARK</b></span>
		</div>
	</div>
	<hr><br>
	<div class="monty row">
		<a href="/static/img/samec-resume.pdf" target="_blank">
			<div class="six columns home_content" style="background-image:url('/static/img/resume.png');background-position:center;background-size: 500px 500px">
				<div style="height:175px;">
					<h2 style="line-height:150px;text-align:center;">RESUME</h2>
				</div>
			</div>
		</a>
		<div class="six columns home_content" style="background-image:url('/static/img/identity.png');background-position:center;background-size: 500px 500px">
			<div style="height:175px;">
				<h2 style="line-height:150px;text-align:center;">PORTFOLIO</h2>
			</div>
		</div>
	</div><br>
	<div class="monty row">
		<div class="six columns home_content" style="background-image:url('/static/img/infographic.png');background-position:center;background-size: 500px 500px;">
			<div style="height:175px;">
				<h2 style="line-height:150px;text-align:center;">PROJECTS</h2>
			</div>
		</div>
		<div class="six columns home_content" style="background-image:url('/static/img/sec.jpg');background-position:center;background-size: 500px 500px">
			<div style="height:175px;">
				<h2 style="line-height:150px;text-align:center;">ABOUT</h2>
			</div>
		</div>
	</div>
	<br><hr>
	<h6 style="width:auto;text-align:center;color:#ccc";>© Sam Ehnis-Clark, 2017
		<br>
		<a href="http://github.com/sehnis" target="_blank">Github</a>&nbsp;-&nbsp;
		<a href="mailto:sehnis@umich.edu">Email</a>&nbsp;-&nbsp;
		<a href="https://www.instagram.com/sams.serif/" target="_blank">Instagram</a>
	</h6>

</div>


{% endblock %}